// Define your custom colors
$primary-color: #004080; // Primary color (e.g., header background)
$secondary-color: #ffffff; // Secondary color (e.g., text color)
$link-color: #0066cc; // Link color

// Import Google Fonts
$body-font-family: 'Roboto', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
